<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-header>
          <ion-card-title>Insecription</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <form (ngSubmit)="signup()">
              <ion-list>
                  <ion-item>
                      <ion-label position="floating">Nom</ion-label>
                      <ion-input type="text" [(ngModel)]="nom" name="nom"></ion-input>
                  </ion-item>
                  <ion-item>
                      <ion-label position="floating">Prénom</ion-label>
                      <ion-input type="text" [(ngModel)]="prenom" name="prenom"></ion-input>
                  </ion-item>

                  <ion-item>
                      <ion-label position="floating">Adresse e-mail</ion-label>
                      <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
                  </ion-item>

                  <ion-item>
                      <ion-label position="floating">Mot de passe</ion-label>
                      <ion-input type="password" [(ngModel)]="motDePasse" name="motDePasse"></ion-input>
                  </ion-item>

                  <ion-item>
                      <ion-label position="floating">Confirmer le mot de passe</ion-label>
                      <ion-input type="password" [(ngModel)]="confirmationMotDePasse" name="confirmationMotDePasse"></ion-input>
                  </ion-item>
              </ion-list>

              <ion-button expand="full" type="submit">S'inscrire</ion-button>
          </form>
      </ion-card-content>
  </ion-card>
</ion-content>
